### OSX ###
*.DS_Store

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SAM
packaged.yaml
event.json
env.json
*/build/*

# Misc
login-nu-labs.sh
.awscreds.env
temp.json
